# External Processor - Python 3 Dependencies
# Install with: pip install -r requirements.txt

# Core parsing library
git+https://github.com/bamonskiy-kaban/dfir_ntfs.git

# Data processing
numpy==2.3.3
pandas==2.3.2

# For Model Training
joblib==1.5.2